.model1 h1 {
    text-align: center;
    margin: 50px 0 30px 0;
}

.model1Content table:nth-of-type(1) {
    border: 5px solid #F3DFE6;
    border-spacing: 0 50px;
}

.model1Content table:nth-of-type(2) {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.model1Content table:nth-of-type(2) a {
    display: block;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
    line-height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #000;
    margin-left: 10px;
}

.model1Content table a.active {
    color: #fff;
    background-color: #8F55F8;
}

.model1Content td>img {
    width: 150px;
    height: 170px;
    object-fit: contain;
    margin-right: 10px;
}

.model1Content table {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}

.model1Content table thead {
    font-size: 24px;
    font-weight: bold;
}

.model1Content table thead td:nth-of-type(1) {
    text-align: center;
}

.model1Content tr td:nth-of-type(1) {
    font-size: 20px;
}

.model1Content tr td:nth-of-type(2) {
    width: 20%;
    text-align: center;
}

.model1Content tr td:nth-of-type(3) {
    width: 20%;
    font-size: 20px;
}


.model1Content td span {
    font-weight: bold;
}

.number {
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 50px;
    max-width: 120px;
    margin: 0 auto;
}

.number a {
    width: 50px;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-align: center;
}

.number input {
    border: none;
    outline: none;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    max-width: 50px;
    background-color: transparent;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}


@media (max-width:550px) {

    .number input,
    .number a {
        font-size: 12px;
    }

    .model1Content table td {
        font-size: 12px !important;
    }

    .model1Content td>img {
        width: 80px;
    }

    .model1Content tr td:nth-of-type(2) {
        width: 120px;
    }
    .model1Content tr td:nth-of-type(3){
        width: 120px;
    }
}

@media (max-width:912px) {
    .model1Content table {
        padding: 0;
    }

    .number {
        width: 60px;
    }

    /* .number input,
    .number a {
        font-size: 12px;
    } */

    .number input {
        max-width: 30px;
    }
}